#CV {
	min-height: 1070px;
}

#CV > section {
	position: relative;
	min-height: 2em;
}

#experienceInputs,
#educationInputs {
	position: relative;
}

.dd-h2 {
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #00ab44;
	margin-bottom: 12px;
}

.dd-ul {
	list-style-type: none;
	padding-left: 0;
}

.dd-li:not(:first-child) {
	margin-top: 8px;
}

.dd-user-title {
	font-style: italic;
	opacity: 0.8;
}

.from-to-date {
	font-style: italic;
	font-size: 0.9em;
	opacity: 0.8;
	margin-bottom: 4px;
}

.edit-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.skills-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.8em;
}

.skills-list-item {
	text-align: center;
	padding: 1em;
	border: 1px solid #bdc3c7;
}
